<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="File" name="userLog" fileName="user_actions.log" layout="${longdate}|${level:uppercase=true}|${message}" />
		<target xsi:type="File" name="errorLog" fileName="errors.log" layout="${longdate}|${level:uppercase=true}|${message}" />
	</targets>

	<rules>
		<logger name="UserLogger" minlevel="Info" writeTo="userLog" />
		<logger name="ErrorLogger" minlevel="Error" writeTo="errorLog" />
	</rules>
</nlog>