@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в блог!</h1>
    <p><a class="nav-link" asp-controller="Articles" asp-action="Articles">Давайте начнем читать статьи пользователей или создадим свою статью</a></p>
</div>
